<%- include ('./layouts/header.ejs')%>

    <div class="form-wrapper d-flex justify-content-center flex-column bg-light rounded-2">
        <div class="title mb-4 bg-dark">
            <h2 class="text-center m-0 p-2">Add New User</h2>
        </div>

        <div class="form">
            <form action="/add" method="post">
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <label class="form-label">Name</label>
                    <input type="text" id="name" name="name" class="form-control" />
                </div>

                <!-- Telephone input -->
                <div class="form-outline mb-4">
                    <label class="form-label">Telephone</label>
                    <input type="number" id="telephone" name="telephone" class="form-control" />
                </div>


                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label">Email address</label>
                    <input type="email" id="email" name="email" class="form-control" />
                </div>

                <!-- Submit button -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mb-4">Add User</button>
                </div>
            </form>
        </div>
    </div>

    <%- include ('./layouts/footer.ejs')%>